<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuestBook</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <script type="text/javascript" src="/static/js/script.js"></script>
</head>
<body>


<main class="container">
        {%for message in messages%}
            <div class="message">
            {% for element in message %}
                <div class="inner-message">{{ element }}</div>
            {% endfor %}
            </div>
        {%endfor%}
</main>

<footer class="container">
    <div class="belt">COPYRIGHT &copy; 2018 GuestBook by jq</div>
</footer>


</body>
</html>